<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.daoran.newfactory.onefactory">

    <!-- 这个权限用于进行网络定位 -->
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <!-- 这个权限用于访问GPS定位 -->
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <!-- 用于访问wifi网络信息，wifi信息会用于进行网络定位 -->
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <!-- 获取运营商信息，用于支持提供运营商信息相关的接口 -->
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <!-- 这个权限用于获取wifi的获取权限，wifi信息会用来进行网络定位 -->
    <uses-permission android:name="android.permission.CHANGE_WIFI_STATE" />
    <!-- 用于读取手机当前的状态 -->
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />
    <!-- 写入扩展存储，向扩展卡写入数据，用于写入离线定位数据 -->
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <!-- 访问网络，网络定位需要上网 -->
    <uses-permission android:name="android.permission.INTERNET" />
    <!-- SD卡读取权限，用户写入离线定位数据 -->
    <uses-permission android:name="android.permission.MOUNT_UNMOUNT_FILESYSTEMS" />
    <uses-permission android:name="android.permission.MODE_WORLD_READABLE" />
    <!--用于申请调用A-GPS模块-->
    <uses-permission android:name="android.permission.ACCESS_LOCATION_EXTRA_COMMANDS" />
    <!--用于申请获取蓝牙信息进行室内定位-->
    <uses-permission android:name="android.permission.BLUETOOTH" />
    <uses-permission android:name="android.permission.BLUETOOTH_ADMIN" />
    <!-- 允许应用读取低级别的系统日志文件 -->
    <uses-permission android:name="android.permission.READ_LOGS" />
    <uses-permission android:name="android.permission.WAKE_LOCK" />
    <!-- 允许用户调用相册权限-->
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission" />
    <uses-permission android:name="android.permission.RESTART_PACKAGES" />
    <uses-permission android:name="android.permission.KILL_BACKGROUND_PROCESSES" />


    <application
        android:allowBackup="true"
        android:icon="@mipmap/daoran"
        android:label="${APP_NAME}"
        android:supportsRtl="true"
        android:theme="@style/AppTheme"
        tools:replace="android:label">
        <provider
            android:name="android.support.v4.content.FileProvider"
            android:authorities="com.jph.takephoto.fileprovider"
            android:exported="false"
            android:grantUriPermissions="true">
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/file_paths" />
        </provider>
        <!-- 开发者申请的Key -->
        <meta-data
            android:name="com.amap.api.v2.apikey"
            android:value="85547ccec1838f47b9aab22f5582332a" />
        <!-- 启动页 -->
        <activity
            android:name=".activity.start.StartActivity"
            android:label="@string/app_name"
            android:launchMode="standard"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.Start">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <!-- 主页 -->
        <activity
            android:name=".activity.main.MainActivity"
            android:launchMode="singleTask"
            android:screenOrientation="portrait" />
        <!-- 引导页 -->
        <activity
            android:name=".activity.guide.GuideActivity"
            android:launchMode="singleTask"
            android:screenOrientation="portrait" />
        <!-- 登录 -->
        <!-- 注册 -->
        <activity
            android:name=".activity.resgister.ResgisterActivity"
            android:launchMode="singleTask"
            android:screenOrientation="portrait" />
        <!-- 出车单展示 -->
        <activity
            android:name=".activity.work.car.CarapplyActivity"
            android:launchMode="singleTask"
            android:screenOrientation="portrait" />

        <!-- 外勤签到查询测试类 -->
        <activity
            android:name=".activity.work.SignDetailActivity"
            android:launchMode="singleTask"
            android:screenOrientation="portrait" />

        <!-- 生产日报查询测试类 -->
        <activity
            android:name=".activity.work.production.ProductionActivity"
            android:configChanges="keyboardHidden"
            android:launchMode="singleTask"
            android:screenOrientation="portrait" />

        <!-- 查货跟踪查询测试类 -->
        <activity
            android:name=".activity.work.commo.CommoditySqlActivity"
            android:launchMode="singleTask"
            android:screenOrientation="portrait" />

        <!-- 外勤签到测试类 -->
        <activity
            android:name=".activity.work.SignActivity"
            android:launchMode="singleTask"
            android:screenOrientation="portrait" />

        <!-- 外勤签到测试类 -->
        <activity
            android:name=".activity.login.LoginDebugActivity"
            android:launchMode="singleTask"
            android:screenOrientation="portrait" />

        <!-- 公交路线 -->
        <activity
            android:name=".activity.work.DebugGaodeActivity"
            android:screenOrientation="portrait" />

        <!-- 用车单详情 -->
        <activity
            android:name=".activity.work.car.SqlcarApplyActivity"
            android:launchMode="singleTask"
            android:screenOrientation="portrait" />

        <!-- 搜索地址 -->
        <activity
            android:name=".activity.work.SearchViaPointActivity"
            android:screenOrientation="portrait" />

        <!-- 新建生产日报 -->
        <activity
            android:name=".activity.work.production.ProductionNewlyBuildActivity"
            android:launchMode="singleTask"
            android:screenOrientation="portrait" />

        <!-- 新建保存 -->
        <activity
            android:name=".activity.work.production.ProductionNewlyComfigActivity"
            android:launchMode="singleTask"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activity.work.SignOpenActivity"
            android:launchMode="singleTask"
            android:screenOrientation="portrait" />

        <activity
            android:name=".activity.work.CoreActivity"
            android:launchMode="singleTask"
            android:screenOrientation="portrait" />

        <!-- 测试 -->
        <service android:name="com.amap.api.location.APSService" />
        <meta-data
            android:name="com.google.android.gms.version"
            android:value="@integer/google_play_services_version" />
    </application>

</manifest>