<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.daoran.newfactory.onefactory">

    <!-- Required -->
    <permission
        android:name="com.daoran.newfactory.onefactory.permission.JPUSH_MESSAGE"
        android:protectionLevel="signature" />

    <!-- Required  一些系统要求的权限，如访问网络等-->
    <uses-permission android:name="com.daoran.newfactory.onefactory.permission.JPUSH_MESSAGE" />
    <!-- 允许应用在手机屏幕关闭后后台进程仍然运行-->
    <uses-permission android:name="android.permission.RECEIVE_USER_PRESENT" />
    <!-- 这个权限用于进行网络定位 -->
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <!-- 这个权限用于访问GPS定位 -->
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <!-- 用于访问wifi网络信息，wifi信息会用于进行网络定位 -->
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <!-- 获取运营商信息，用于支持提供运营商信息相关的接口 -->
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <!-- 这个权限用于获取wifi的获取权限，wifi信息会用来进行网络定位 -->
    <uses-permission android:name="android.permission.CHANGE_WIFI_STATE" />
    <!-- 用于读取手机当前的状态 -->
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />
    <!-- 写入扩展存储，向扩展卡写入数据，用于写入离线定位数据 -->
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <!-- 访问网络，网络定位需要上网 -->
    <uses-permission android:name="android.permission.INTERNET" />
    <!-- SD卡读取权限，用户写入离线定位数据 -->
    <uses-permission android:name="android.permission.MOUNT_UNMOUNT_FILESYSTEMS" />
    <uses-permission android:name="android.permission.MODE_WORLD_READABLE" />
    <!--用于申请调用A-GPS模块-->
    <uses-permission android:name="android.permission.ACCESS_LOCATION_EXTRA_COMMANDS" />
    <!--用于申请获取蓝牙信息进行室内定位-->
    <uses-permission android:name="android.permission.BLUETOOTH" />
    <uses-permission android:name="android.permission.BLUETOOTH_ADMIN" />
    <!-- 允许应用读取低级别的系统日志文件 -->
    <uses-permission android:name="android.permission.READ_LOGS" />
    <uses-permission android:name="android.permission.WAKE_LOCK" />
    <!-- 允许用户调用相册权限-->
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <!-- 允许程序读取或写入系统设置 -->
    <uses-permission android:name="android.permission.WRITE_SETTINGS" />
    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission" />
    <uses-permission android:name="android.permission.RESTART_PACKAGES" />
    <!-- 允许程序调用killBackgroundProcesses(String).方法结束后台进程 -->
    <uses-permission android:name="android.permission.KILL_BACKGROUND_PROCESSES" />
    <!-- 允许程序振动  -->
    <uses-permission android:name="android.permission.VIBRATE" />
    <!--相机权限-->
    <uses-feature android:name="android.hardware.camera" />
    <!-- 用于开启 debug 版本的应用在6.0 系统上 层叠窗口权限 -->
    <uses-permission android:name="android.permission.SYSTEM_ALERT_WINDOW" />
    <!-- 允许程序改变网络连接状态  -->
    <uses-permission android:name="android.permission.CHANGE_NETWORK_STATE" />
    <!-- 允许一个程序获取信息有关当前或最近运行的任务,一个缩略的任务状态,是否活动等  -->
    <uses-permission android:name="android.permission.GET_TASKS" />

    <application
        android:name=".util.application.CrashApplication"
        android:allowBackup="true"
        android:icon="@mipmap/daoran"
        android:label="${APP_NAME}"
        android:resizeableActivity="false"
        android:supportsRtl="true"
        android:theme="@style/AppTheme"
        tools:replace="android:label">
        <!-- 启动页 -->
        <activity
            android:name=".activity.start.StartActivity"
            android:label="@string/app_name"
            android:launchMode="standard"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.Start">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <!-- 主页 -->
        <activity
            android:name=".activity.main.MainActivity"
            android:launchMode="singleTask"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateHidden|adjustNothing"/>

        <!-- 引导页 -->
        <activity
            android:name=".activity.guide.GuideActivity"
            android:launchMode="singleTask"
            android:screenOrientation="portrait" />

        <!-- Bugly升级SDK配置开始  -->
        <activity
            android:name="com.tencent.bugly.beta.ui.BetaActivity"
            android:configChanges="keyboardHidden|orientation|screenSize|locale"
            android:theme="@android:style/Theme.Translucent" />

        <activity
            android:name="cn.jpush.android.ui.PushActivity"
            android:configChanges="orientation|keyboardHidden"
            android:exported="false">
            <intent-filter>
                <action android:name="cn.jpush.android.ui.PushActivity" />

                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="com.daoran.newfactory.onefactory" />
            </intent-filter>
        </activity>

        <!--声明一个文件广播-->
        <provider
            android:name=".util.utils.ProviderUtil"
            android:authorities="com.daoran.newfactory.onefactory.fileprovider"
            android:exported="false"
            android:grantUriPermissions="true"
            tools:replace="name,authorities,exported,grantUriPermissions">
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/provider_paths"
                tools:replace="name,resource" />
        </provider>

        <!-- 开发者申请的Key -->
        <meta-data
            android:name="com.amap.api.v2.apikey"
            android:value="85547ccec1838f47b9aab22f5582332a" />
        <meta-data
            android:name="UMENG_APPKEY"
            android:value="59795831b27b0a69e5001585" />


        <!-- 登录 -->
        <!-- 注册 -->
        <activity
            android:name=".activity.resgister.ResgisterActivity"
            android:launchMode="singleTask"
            android:screenOrientation="portrait" />

        <!-- 出车单展示 -->
        <activity
            android:name=".activity.work.car.ReqCarmDetailActivity"
            android:launchMode="singleTask"
            android:screenOrientation="portrait" />

        <!-- 外勤签到查询类 -->
        <activity
            android:name=".activity.work.SignDetailActivity"
            android:launchMode="singleTask"
            android:screenOrientation="portrait" />

        <!-- 生产日报查询类 -->
        <activity
            android:name=".activity.work.ftydl.FTYDLSearchActivity"
            android:configChanges="keyboardHidden"
            android:launchMode="singleTask"
            android:screenOrientation="portrait" />

        <!-- 查货跟踪查询类 -->
        <activity
            android:name=".activity.work.qacwork.QACworkSearchActivity"
            android:launchMode="singleTask"
            android:screenOrientation="portrait"
            android:configChanges="keyboardHidden"/>

        <!-- 外勤签到测试类 -->

        <!-- 外勤签到测试类 -->
        <activity
            android:name=".activity.login.LoginMainActivity"
            android:launchMode="singleTask"
            android:configChanges="keyboardHidden"
            android:windowSoftInputMode="adjustResize"
            android:screenOrientation="portrait" />

        <!-- 公交路线 -->
        <activity
            android:name=".activity.work.GaodeRouteActivity"
            android:screenOrientation="portrait" />

        <!-- 用车单详情 -->
        <activity
            android:name=".activity.work.car.ReqcarmSearchActivity"
            android:launchMode="singleTask"
            android:screenOrientation="portrait" />

        <!-- 新建生产日报 -->
        <activity
            android:name=".activity.work.ftydl.FTYDLSearchNewlyBuildActivity"
            android:launchMode="singleTask"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateHidden|adjustNothing"/>

        <!-- 新建保存 -->

        <!--重新写的签到界面-->
        <activity
            android:name=".activity.work.SignOpenActivity"
            android:launchMode="singleTask"
            android:screenOrientation="portrait" />

        <!--生成二维码-->
        <activity
            android:name=".activity.work.setting.CoreActivity"
            android:launchMode="singleTask"
            android:screenOrientation="portrait" />

        <!--二维码扫描识别-->
        <activity
            android:name=".activity.work.setting.CaptureActivity"
            android:launchMode="singleTask"
            android:screenOrientation="portrait" />

        <!--关于-->
        <activity
            android:name=".activity.work.setting.AboutActivity"
            android:launchMode="singleTask"
            android:screenOrientation="portrait" />

        <!--excel文件列表-->
        <activity
            android:name=".activity.work.setting.ExcelSDActivity"
            android:launchMode="singleTask"
            android:screenOrientation="portrait" />

        <!--图片展示-->
        <activity
            android:name=".activity.work.setting.PictureActivity"
            android:launchMode="singleTask"
            android:screenOrientation="portrait" />

        <!--添加账号-->
        <activity
            android:name=".activity.work.setting.WorkPwSwitchActivity"
            android:launchMode="singleTask"
            android:screenOrientation="portrait" />

        <!--生产日报复制保存-->
        <activity
            android:name=".activity.work.ftydl.FTYDLSearchCopyDetailActivity"
            android:configChanges="keyboardHidden|orientation"
            android:launchMode="singleTask"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme"/>

        <activity
            android:name=".activity.side.SideActivity"
            android:launchMode="singleTask"
            android:screenOrientation="portrait" />

        <activity
            android:name=".activity.work.pocontrast.PoContrastActivity"
            android:launchMode="singleTask"
            android:screenOrientation="portrait" />
        <!--查货跟踪详情页面-->
        <activity
            android:name=".activity.work.qacwork.QACworkDetailActivity"
            android:configChanges="keyboardHidden|orientation"
            android:launchMode="singleTask"
            android:screenOrientation="portrait"/>
        <!--日历页面-->
        <activity
            android:name=".activity.work.setting.MonthActivity"
            android:launchMode="singleTask"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.AppCompat.NoActionBar" />
        <!--图片放置页面-->
        <activity
            android:name=".activity.work.setting.PictureSelectActivity"
            android:launchMode="singleTask"
            android:screenOrientation="portrait" />
        <!--新建保存页面-->
        <activity
            android:name=".activity.work.ftydl.FTYDLNewlyComfigDetailActivity"
            android:configChanges="keyboardHidden|orientation"
            android:launchMode="singleTask"
            android:screenOrientation="portrait" />
        <!--修改保存-->
        <activity
            android:name=".activity.work.ftydl.FTYDLSearchDetailActivity"
            android:configChanges="keyboardHidden|orientation"
            android:launchMode="singleTask"
            android:screenOrientation="portrait"/>
        <!--qq分享-->
        <activity
            android:name="com.tencent.tauth.AuthActivity"
            android:launchMode="singleTask"
            android:noHistory="true">
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />

                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />

                <data android:scheme="tencent1106135321" />
            </intent-filter>
        </activity>


        <!--qq分享-->
        <activity
            android:name="com.tencent.connect.common.AssistActivity"
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:theme="@android:style/Theme.Translucent.NoTitleBar" />

        <activity
            android:name="cn.jpush.android.ui.PopWinActivity"
            android:exported="false"
            android:theme="@style/MyDialogStyle"/>

        <receiver
            android:name="cn.jpush.android.service.PushReceiver"
            android:enabled="true">
            <intent-filter android:priority="1000">
                <action android:name="cn.jpush.android.intent.NOTIFICATION_RECEIVED_PROXY" />   <!--Required  显示通知栏 -->
                <category android:name="com.daoran.newfactory.onefactory" />
            </intent-filter>
            <intent-filter>
                <action android:name="android.intent.action.USER_PRESENT" />
                <action android:name="android.net.conn.CONNECTIVITY_CHANGE" />
            </intent-filter>
            <!-- Optional -->
            <intent-filter>
                <action android:name="android.intent.action.PACKAGE_ADDED" />
                <action android:name="android.intent.action.PACKAGE_REMOVED" />

                <data android:scheme="package" />
            </intent-filter>
        </receiver>

        <receiver android:name="cn.jpush.android.service.AlarmReceiver" />
        <!-- since 3.0.9 Required SDK 核心功能-->
        <provider
            android:name="cn.jpush.android.service.DataProvider"
            android:authorities="com.daoran.newfactory.onefactory.DataProvider"
            android:exported="false" />
        <receiver
            android:name="com.daoran.newfactory.onefactory.util.receiver.JPushReceiver"
            android:enabled="true">
            <intent-filter>
                <!--Required 用户注册SDK的intent-->
                <action android:name="cn.jpush.android.intent.REGISTRATION" />
                <!--Required 用户接收SDK消息的intent-->
                <action android:name="cn.jpush.android.intent.MESSAGE_RECEIVED" />
                <!--Required 用户接收SDK通知栏信息的intent-->
                <action android:name="cn.jpush.android.intent.NOTIFICATION_RECEIVED" />
                <!--Required 用户打开自定义通知栏的intent-->
                <action android:name="cn.jpush.android.intent.NOTIFICATION_OPENED" />
                <!-- 接收网络变化 连接/断开 since 1.6.3 -->
                <action android:name="cn.jpush.android.intent.CONNECTION" />
                <category android:name="com.project.fors.jpush" />
            </intent-filter>
        </receiver>

        <service
            android:name="cn.jpush.android.service.DaemonService"
            android:enabled="true"
            android:exported="true">
            <intent-filter>
                <action android:name="cn.jpush.android.intent.DaemonService" />
                <category android:name="com.daoran.newfactory.onefactory" />
            </intent-filter>
        </service>

        <!-- since 3.1.0 Required SDK 核心功能-->
        <provider
            android:name="cn.jpush.android.service.DownloadProvider"
            android:authorities="com.daoran.newfactory.onefactory.DownloadProvider"
            android:exported="true" />

        <service
            android:name="cn.jpush.android.service.PushService"
            android:enabled="true"
            android:exported="false">
            <intent-filter>
                <action android:name="cn.jpush.android.intent.REGISTER" />
                <action android:name="cn.jpush.android.intent.REPORT" />
                <action android:name="cn.jpush.android.intent.PushService" />
                <action android:name="cn.jpush.android.intent.PUSH_TIME" />
            </intent-filter>
        </service>

        <!-- 高德地图定位服务 -->
        <service android:name="com.amap.api.location.APSService" />

        <service
            android:name="cn.jpush.android.service.DownloadService"
            android:enabled="true"
            android:exported="false" />

        <meta-data
            android:name="com.google.android.gms.version"
            android:value="@integer/google_play_services_version" />
        <meta-data
            android:name="JPUSH_CHANNEL"
            android:value="developer-default" />
        <meta-data
            android:name="JPUSH_APPKEY"
            android:value="116b80ec40044cf9e8dd6184" />
    </application>
</manifest>